<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EchoAI</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

    <!-- Navigation Bar -->
    <nav class="navbar">
        <img class="logo" src="../static/EchoAI logo.png" alt="EchoAI Logo">
        
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/generate">Text-to-Speech</a></li>
            <li><a href="/clone">Voice Cloning</a></li>
        </ul>

        <button onclick="window.location.href='/generate'">Try Now</button>
    </nav>

    <!-- Animated sentences wala frame -->
    <div class="frame">
        <div class="overlap-wrapper">
            <div class="overlap">
                <p class="text-wrapper">
                    Bring voices to life with AI! 🎙️✨ Our cutting-edge voice cloning technology 
                    captures your unique voice and infuses it with emotions, transforming any 
                    text into speech that feels truly yours—
                </p>
                <div class="animated-text-of">
                    <div class="overlap-group">
                        <span class="typing-text"></span>
                        <div class="blinking-cursor"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="../static/script.js"></script>

</body>
</html>
